<html>
<head>
    <title>To 2 Do List</title>
</head>
<body>
    <h1>To 2 Do List</h1>
    {% if tasks is not empty %}
        <p>Here all all your tasks:</p>
        <ul>
            {% for task in tasks %}
            <!-- call getDescription method on each task,  then print return value of getDescription method -->
                <li>{{ task.getDescription }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/tasks' method='post'>
        <label for='description'>Task Description</label>
        <input id='description' name='description' type='text'>

        <button type='submit'>Add task</button>
    </form>
    <form action='delete_tasks' method='post'>
        <button type='submit'>clear list</button>
    </form>
</body>
</html>
